<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for实例</title>
    <script type="text/javascript"  src="../assets/js/vue.js"></script>
</head>
<body>
   <h1>v-for实例</h1>
   <hr>
   <div id="app">
    <ul>
        <li v-for="item in sortitems">{{item}}</li>
    </ul>
    <hr>
    <ul>
        <li v-for="(student,index) in sortStudnets">
            {{index+1}}:{{student.name}}-{{student.age}}
        </li>
    </ul>
   </div>
   <script type="text/javascript">
   var app=new Vue({
       el:'#app',
       data:{
          items:[53,23,6,14,54,36,28],
          students:[
              {name:'jasmyn',age:18},
              {name:'王亚超',age:21},
              {name:'超超',age:15},
              {name:'小超',age:10},
          ]
        
       },
    //    computed是在输出之前做的一个操作
       computed: {
           sortitems:function(){
               return this.items.sort(sortNumber);
           },
           sortStudnets:function(){
               return sortByKey(this.students,'age');
           }
       },
   });
   function sortNumber(a,b){
       return a-b;
   }
   //数组对象方法排序:
   function sortByKey(array,key){
    return array.sort(function(a,b){
      var x=a[key];
      var y=b[key];
      return ((x<y)?-1:((x>y)?1:0));
   });
}
   </script>
</body>
</html>